* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#videos {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  overflow: hidden;
}

.video-player {
  background-color: black;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

#user-2 {
  display: none;

  position: absolute;
  top: 20px;
  left: 20px;
  height: 170px;
  width: 300px;
  border-radius: 5px;
  border: 2px solid #b366f9;
}

#controls {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1em;
}

.control-container {
  background-color: rgb(179, 102, 249, 0.9);
  padding: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.control-container img {
  height: 30px;
  width: 30px;
}

#leave-btn {
  background-color: rgb(255, 80, 80, 1);
}

.loader_container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.spinner {
  position: relative;
  width: 50px;
  height: 50px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top-color: #333;
  animation: spin 1s infinite linear;
}

.spinner::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 30px;
  height: 30px;
  border: 4px solid transparent;
  border-top-color: #555;
  border-radius: 50%;
  animation: spin 1.2s infinite linear;
}

.spinner::after {
  content: "";
  position: absolute;
  bottom: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  border: 4px solid transparent;
  border-bottom-color: #f06060;
  border-radius: 50%;
  animation: spin 1.2s infinite linear;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 600px) {
  .smallFrame {
    height: 80px;
    width: 120px;
  }

  .control-container img {
    height: 20px;
    width: 20px;
  }
}
